:root{
   --color-bg: #ffffff;
   --main-text: #0f0f0f;
   --secondary-text: #606060;
   --notification-badge: #e5002b;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
   
body {
   font-family: Roboto, Arial, sans-serif;
   color: var(--main-text);
   background-color: var(--color-bg);
   padding-top: 48px;
   height: 1000px;
}

/* Header Layout */
header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 48px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 12px;
   background-color: var(--color-bg);
   z-index: 100;
}

.logo {
   height: 20px;
}

.header-actions {
   display: flex;
   gap: 4px;
}

button {
   border: none;
   background: none;
   height: 40px;
   width: 40px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.header-icons {
   height: 24px;
   width: 24px;
}

.bell-button {
   position: relative;
}
.bell-button span {
   position: absolute;
   top: 6px;
   right: 3px;
   font-size: 10px;
   font-weight: 500;
   background-color: var(--notification-badge);
   padding: 2px 3px;
   border-radius: 50%;
}