:root{
   --color-bg: #ffffff;
   --main-text: #0f0f0f;
   --secondary-text: #606060;
   --notification-badge: #e5002b;
   --chip-bg: #f2f2f2;
   --active-chip-bg: #0f0f0f;
   --white-text: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
   
body {
   font-family: Roboto, Arial, sans-serif;
   color: var(--main-text);
   background-color: var(--color-bg);
   padding-top: 48px;
}

/* Header Layout */
header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 48px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 12px;
   background-color: var(--color-bg);
   z-index: 100;
}

.logo {
   height: 22px;
}

.header-actions {
   display: flex;
   gap: 4px;
}

.header-actions button{
   border: none;
   background: none;
   height: 40px;
   width: 40px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.header-icons {
   height: 24px;
   width: 24px;
}

.bell-button {
   position: relative;
}
.bell-button span {
   position: absolute;
   top: 6px;
   right: 3px;
   font-size: 10px;
   font-weight: 500;
   background-color: var(--notification-badge);
   padding: 2px 3px;
   border-radius: 50%;
}

/* Chips */
.chips {
   display: flex;
   gap: 8px;
   overflow-x: auto;
   scrollbar-width:none;
   padding: 12px;
}

.chips::webkit-scrollbar {
   display: none;
}

.chip {
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 36px;
   padding: 5px 15px;
   border: none;
   border-radius: 10px;
   background: var(--chip-bg);
   color: var(--main-text);
   font-size: 14px;
   font-weight: 500;
   font-family: inherit;
   white-space: nowrap;
}

.chip:first-child {
   width: 44px;
   padding: 0;
   margin-right: 8px;
}

.chip img {
   width: 30px;
   height: 30px;
}

.chip.active {
   background: var(--active-chip-bg);
   color: #ffffff;
}

/* Thumbnail CSS */
.thumbnail-wrapper {
   position: relative;
}

.thumbnail-wrapper img{
   width: 100%;
   aspect-ratio: 16/9;
   object-fit: contain;
   display: block;
}

.duration {
   position: absolute;
   bottom: 8px;
   right: 8px;
   background: rgba(0, 0, 0, 0.8);
   font-size: 12px; 
   font-weight: 500;
   border-radius: 4px 8px;
   padding: 3px 5px;
   color: var(--white-text);
}

.video-info {
   display: flex;
   padding: 12px;
   gap: 12px;
}

.avatar {
   height: 32px;
   width: 32px;
   border-radius: 50%;
   object-fit: cover;
}

.video-details {
   min-width: 0;
}

.video-details h3{
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-clorient: vertical;
   overflow: hidden;
   font-size: 16px;
   font-weight: 500;
   line-height:22px;
}

.video-details p {
   color: var(--secondary-text);
   font-size: 13px;
   line-height: 18px;
}

.more_vert {
   border: none;
   height: 10px;
   background: none;
}